# Python Sets - Teaching Notes

In [ ]:
my_set = {1, 2, 3, 4, 4}

my_set

{1, 2, 3, 4}

## 1. Definition
- A **set** is an unordered collection of unique items in Python.
- Sets are mutable but cannot contain mutable elements like lists.
- Useful for operations involving uniqueness or mathematical set operations.

In [ ]:
my_set = {1, 2, 3, 4, 4 ,4 , 4}
# empty_set = set()  #
print(my_set)

{1, 2, 3, 4}

In [ ]:
my_set = {}
type(my_set)

dict

## 2. Syntax
```python
# Creating sets
my_set = {1, 2, 3, 4}
empty_set = set()  # Note: {} creates an empty dictionary, not a set
```

## 3. Key Features
- **Unordered**: No guaranteed order of elements.
- **Unique Elements**: Duplicate values are automatically removed.
- **Mutable**: Sets can be modified (add/remove elements), but the elements themselves must be immutable.

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)  # Adds an element
# my_set.remove(5)  # Removes an element; raises KeyError if not found
my_set.discard(5)  # Removes an element; does nothing if not found
print(my_set)  # O

{1, 2, 3, 4}

## 4. Common Operations
**Adding and Removing Elements**
```python
my_set = {1, 2, 3}
my_set.add(4)  # Adds an element
my_set.remove(2)  # Removes an element; raises KeyError if not found
my_set.discard(5)  # Removes an element; does nothing if not found
print(my_set)  # Output: {1, 3, 4}
```

**Membership Testing**
```python
print(3 in my_set)   # Output: True
print(5 in my_set)   # Output: False
```

**Clearing a Set**
```python
my_set.clear()  # Removes all elements
print(my_set)  # Output: set()
```

## 5. Set Operations
| Operation         | Description                         | Example                                | Output             |
|-------------------|-------------------------------------|----------------------------------------|--------------------|
| `union()`         | Combines elements from two sets     | `{1, 2}.union({2, 3})`                 | `{1, 2, 3}`        |
| `intersection()`  | Elements common to both sets       | `{1, 2}.intersection({2, 3})`          | `{2}`              |
| `difference()`    | Elements in one set but not the other | `{1, 2}.difference({2, 3})`        | `{1}`              |
| `symmetric_difference()` | Elements in either set but not both | `{1, 2}.symmetric_difference({2, 3})` | `{1, 3}`           |
| `issubset()`      | Checks if one set is a subset of another | `{1, 2}.issubset({1, 2, 3})`        | `True`             |
| `issuperset()`    | Checks if one set is a superset of another | `{1, 2, 3}.issuperset({1, 2})`      | `True`             |

## 6. Looping Through a Set
Since sets are unordered, elements are iterated in an arbitrary order.
```python
my_set = {1, 2, 3, 4}
for item in my_set:
    print(item)
```

## 7. Common Mistakes
1. **Using Curly Braces for an Empty Set**:
   ```python
   empty_set = {}  # Creates an empty dictionary, not a set
   empty_set = set()  # Correct way to create an empty set
   ```

2. **Accessing Elements by Index**:
   ```python
   my_set = {1, 2, 3}
   print(my_set[0])  # TypeError: 'set' object is not subscriptable
   ```

3. **Modifying Elements**:
   ```python
   my_set = {1, 2, 3}
   my_set[0] = 10  # TypeError: 'set' object does not support item assignment
   ```

In [ ]:
my_tuple = (1,3,5) * 10

In [ ]:
list(set(my_tuple))

[1, 3, 5]